
.Welcome-text
{
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    margin-left: 10px;
    font-family: Montserrat,Arial;
    color: black;
}

.Home-text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    
}

.Home-image
{
    width: 600px;  
}

.Home-image:hover
{

    animation-name: images;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

.get-started-button
{
    height: 50px;
    width: 150px;
    margin-top: 25px;
    background-color: #008000;
    border: none;
    border-radius: 3px;
    font-family: Roboto;
    color: white;
    font-weight: 700;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.get-started-button:hover
{
    background-color: #00B300;
    color: black;
}

.footer
{
    font-family: Montserrat,Arial;
    color: black;
    font-size: 16px;
    height: 200px;
    background-color: #059205;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    
    
}

.logo-container
{
    margin-left: 16px;
    
}
.footer-image
{
    text-align: center;
}

